In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv("housing.csv")
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
# using these three features for simplicity
data = data.loc[:, ["median_income", "latitude", "longitude"]]

In [4]:
X = data

In [5]:
X_train, X_test = train_test_split(X, test_size=0.2, random_state=42)

In [6]:
normalization = MinMaxScaler().fit_transform(X_train)

In [7]:
X_train.head()

       median_income  latitude  longitude
14196         3.2596     32.71    -117.03
8267          3.8125     33.77    -118.16
17445         4.1563     34.66    -120.48
14265         1.9425     32.69    -117.11
2271          3.5542     36.78    -119.80

In [8]:
normalization[:5,]

array([[0.19032151, 0.01702128, 0.72908367],
       [0.22845202, 0.12978723, 0.61653386],
       [0.25216204, 0.22446809, 0.38545817],
       [0.09948828, 0.01489362, 0.72111554],
       [0.21063847, 0.45      , 0.45318725]])

In [9]:
standardization = StandardScaler().fit_transform(X_train)

In [10]:
X_train.head()

       median_income  latitude  longitude
14196         3.2596     32.71    -117.03
8267          3.8125     33.77    -118.16
17445         4.1563     34.66    -120.48
14265         1.9425     32.69    -117.11
2271          3.5542     36.78    -119.80

In [11]:
standardization[:5,]

array([[-0.326196  , -1.3728112 ,  1.27258656],
       [-0.03584338, -0.87669601,  0.70916212],
       [ 0.14470145, -0.46014647, -0.44760309],
       [-1.01786438, -1.38217186,  1.23269811],
       [-0.17148831,  0.5320839 , -0.10855122]])